body{
background-color:#DFE2DB;
margin:none;
padding:none;
}
/*LOG IN PAGE */
#login{
	position:absolute;
	width:30%;
	height:45%;
	top:30%;
	left:35%;
}
#container{
	width:100%;
	height:20%;
	font-size:2em;
	text-align:center;
	line-height:200%;
}
#input{
	position:relative;
	width:80%;
	left:10%;
}
#sub{
	position:relative;
	left:30%;
}
a{
	text-decoration:none;
}
/*USER PAGE */

header{
	position:absolute;
	width:100%;
	height:10%;
	line-height:200%;
}
footer{
	position:absolute;
	width:100%;
	height:7%;
	line-height:300%;
	background-color:#DFE2DB;
}
img{
	width:30%;
	height:30%;
}
#card{
	width:100%;
	height:95%;
}
#left{
	top:15%;
	position:absolute;
	width:20%;
	height:60%;
}
button{
	width:45%;
	text-align:center;
}
a{
	text-decoration:none;
}
ul{
	padding:none;
	margin:none;
	
	
}
ul li{
	/*border:1px solid black*/
	text-align:left;
}

#right{
	left:20%;
	top:15%;
	position:absolute;
	width:80%;
	height:78%;
}
/*
#login{
	position:absolute;
	width:80%;
	height:75%;
	top:15%;
}
*/
#inputcust{
	position:relative;
	width:45%;
	left:5%;
}
#inputcust1{
	position:relative;
	width:100%;
}
#container1{
	width:100%;
	height:10%;
	font-size:1em;
	text-align:center;
	line-height:200%;
}
th{
	font-size:12px;
}
#search{
	position:relative;
	width:45%;
	left:2%;
}
#button1{
	width:100%;
	text-align:center;
}
#button2{
	width:50%;
	text-align:center;
}
.w3-tangerine {
  font-family: "Tangerine", serif;
}
#customer1{
	display:none;
}
#customer2{
	display:none;
}
.profile-container{
	position:absolute;
	/*border:1px solid black;*/
	top:10%;
	width:60%;
	height:80%;
	z-index:-1;
}
#p1{
	font-size:24px;
	font-weight:bold;
}
#btn1{
	position:relative;
	width:15%;
	left:10%;
}
#profile-picture{
	width:20%;
	height:20%;
}
#usertable{
	position:relative;
	left:10%;
}
#id01{
	width:60%;
	height:60%;
	position:absolute;
	left:30%;
	top:15%;
	display:none;
	z-index:1;
	}
#id02{
	position:relative;
	width:40%;
	}
#button2{
	width:30%;
	text-align:center;
}
